#contact {
  padding: 1rem 4rem;
}

.boxes {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  
  div {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px $secondary-color solid;
    margin-bottom: 1.5rem;
    @include easeOut;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;

    &:hover {
      padding: 1rem 3rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      font-weight: bold;

      span {
        color: #fff;
        font-weight: normal;
      }
    }

    span {
      font-family: 'Long Cang', cursive;
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
}