@include mediaXL {
  
}

@include mediaLarge {

  #about .about-info {
    margin-bottom: 35px;
  }

  #footer-about {
    position: initial !important;
  }

}

@include mediaMedium {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  #about .about-info {
    display: grid;
    grid-template-areas: 
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';
    grid-template-columns: 1fr;
    margin-bottom: 35px;
  }

  #work .projects {
    display: flex;
    flex-direction: column;
    margin-left: 0;

    .item {
      width: 100%;
      margin-bottom: 5px;

      a {
        font-size: 1.2rem;
      }

      &-buttons {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }

  #contact {

    .boxes {
      margin-top: 2rem;
    }
  }

  #footer-about,
  #footer-work {
    position: initial !important;
  }
}

@include mediaSmall {
  main#home {
    
    h1 {
      margin-top: 1vh;
    }

    .icons a {
      font-size: 0.8rem;
    }
  }

  #body-about {

    .menu-btn {
      position: absolute;
      z-index: 3;
      right: 15px;
      top: 15px;
    }
  }

  #contact {

    .boxes {
      margin-bottom: 15px;
    }
  
    div:hover {
      padding: 0.5rem 1rem;
    }
  }

  #footer-contact {
    position: initial !important;
  }
}